<div>
    <h1 style="text-align: center;">Welcome to Ticket fanzone for Cinema&Theatre!</h1>
   </div>
   
   <div class="container" style="text-align: center;">
       <div class="col-md-4 d-inline-block">
         <img src="../../../assets/images/product.png" [routerLink]="['/fanzone/products']" [routerLinkActive]="['is-active']" class="img-circle" alt="Cinque Terre" width="304" height="236">
         <h2 style="text-align: center;">Products</h2>
       </div>
       <div class="col-md-4 d-inline-block">
         <img src="../../../assets/images/ad.jpg" [routerLink]="['/fanzone/ads']" class="img-circle" alt="Cinque Terre" width="304" height="236">
         <h2 style="text-align: center;">Ads</h2>
       </div>
   </div>