<div>
    <h1 style="text-align: center;">Reservations for Cinema&Theatre!</h1>
   </div>
   
   <div class="container" style="text-align: center;">
       <div class="col-md-4 d-inline-block">
         <img src="../../../assets/images/cinema.png" [routerLink]="['cinemaReservation']" [routerLinkActive]="['is-active']" class="img-circle" alt="Cinemas" width="304" height="236">
         <h2 style="text-align: center;">Tickets for Cinemas</h2>
       </div>
       <div class="col-md-4 d-inline-block">
         <img src="../../../assets/images/theatre.png" [routerLink]="['theatreReservation']" class="img-circle" alt="Theatres" width="304" height="236">
         <h2 style="text-align: center;">Tickets for Theatres</h2>
       </div>
   </div>
   