

.seat {
    float: left;
    display: block;
    margin: 5px;
    background: #4CAF50;
    width: 30px;
    height: 40px;
}

.seat-select {
    display: none;
}

.seat-select:checked+.seat {
    background: #F44336;
}