<div class="container">
    <div *ngFor="let cinema of cinemas" class="row cinemaCard" > 
                <div class="col-md-3 cardInline">
                        <img  width="220px" hight="170:" src="../../../assets/images/cinema.png" alt="cinema {{cinema.name}}">     
                </div>
                <div class="col-md-6 cardInline">
                    <h4 class="list-group-item-heading"> {{cinema.name}} </h4>
                    <p class="list-group-item-text">{{cinema.promOpis}} </p>
                </div>
                <div class="col-md-3 text-center cardInline">
                    <button type="button" class="btn btn-primary btn-lg btn-block cardBtn">Details</button>
                    <div class="stars">
                        <span class="glyphicon glyphicon-star"></span><!--Treba da prikazuje zvezdice-->
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </div>
                    <p> Average 4.1 <small> / </small> 5 </p>
                    <p> {{cinema.location}}</p>
                </div>
    </div>
    <button type="button" [routerLink]="['/cinemas/registration']" [routerLinkActive]="['is-active']" class="btn btn-primary btn-lg btn-block cardBtn">addCinema</button>

</div>