<div class="col-md-8">
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Offers for {{ad?.name}}</th> 
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let offer of offers">
      <tr>
        <td><strong><i>{{offer?.bidder.email}}</i></strong>  has given a this bid:<strong>  {{offer?.bid}} <i>RSD</i></strong> <button *ngIf="ad?.admaker?.id===activeUser?.id" type="button" class="btn btn-success float-right">Accept</button></td> 
      </tr>
      </ng-container>
    </tbody>
  </table>
</div>