<div class="container padding-top-10"> <!--da se smanji cela forma dodati ovde col-md-6" -->
	<form [formGroup]="form" (ngSubmit)="loginForm()">
		<div class="panel panel-default">
			<div class="panel-heading" align="center">LOGIN</div>
				<div class="panel-body">
					<div class="row padding-top-10">
						<div class="col-md-2">
							<label for="email" class="control-label">E-mail:</label>
						</div>
						<div class="col-md-10">
							<input type="text" class="form-control" id="email" placeholder="Email" formControlName="email"/>
						</div>
					</div>
					<div class="row padding-top-10">
						<div class="col-md-2">
							<label for="password" class="control-label">Password:</label>
						</div>
						<div class="col-md-10">
							<input type="password" class="form-control" id="password" placeholder="Password" formControlName="password1"/>
						</div>
					</div>			
				</div>
			<div class="panel-footer padding-top-12 padding-top-10" align="center">
				<button type="submit" class="btn btn-info">Login</button>
				<button type="submit" class="btn btn-success" [routerLink]="['/registration']">Register</button>
			</div>
		</div>
	</form>
 </div>