<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <div *ngIf="user" class="row">
                    <div class="col-md-4">
                        <img width=140px hight=100px src="../../../assets/images/user.ico" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-md-8">
                        <h4> {{user.name}} {{user.surname}}</h4>
                        <small><cite>{{user.city}}</cite></small>
                        <p>
                            {{user.email}}
                            <br />
                            {{user.phonenumber}}
                        </p>
                            <button type="button" class="btn btn-primary">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>