
  .productCard{
    border:solid 1px grey;
    margin-top:8px;
    margin-bottom:8px;
 }
 
 .cardInline{
   display:inline-block;
 }
 
 .cardBtn{
   margin-top:5px;
 }

.adTop {
    margin-top:10px;
 }