<div class="container">
    <div *ngFor="let ad of ads" class="row productCard" > <!-- *ngFor="let ad of ads"-->
                <div class="col-md-3 cardInline">
                        <img  width="220px" hight="170:" src="../../../../assets/images/ad.jpg" alt="">     
                </div>
                <div class="col-md-6 cardInline">
                    <h4 class="list-group-item-heading"> {{ad.name}} </h4>
                    <p class="list-group-item-text">{{ad.description}} </p>
                </div>
                <div class="col-md-3 text-center cardInline">
                    <form [formGroup]="form" >
                     <div class="row adTop">
                        
                            <div class="col-md-7 adTop">
                                 <input type="text" class="form-control"  formControlName="bid" placeholder="Write your bid"/>
                            </div>
                            <div class="col-md-2 adTop">
                                <p> din </p>
                            </div>
                            <div class="col-md-6">
                                <button type="submit" (click)="makeOfferForAd(ad.id)" class="btn btn-primary btn-lg btn-block cardBtn">Send</button>
                            </div>
                            <div *ngIf="this.activeUser.role==='ADMIN_FANZONE'"   class="row">
                                    <div class="col-md-6">
                                            <button type="submit" (click)="makeOfferForAd(ad.id)" class="btn btn-success btn-lg btn-block cardBtn">Accept</button>
                                    </div>  
                                    <div class="col-md-6">
                                            <button type="submit" (click)="makeOfferForAd(ad.id)" class="btn btn-danger btn-lg btn-block cardBtn">Decline</button>
                                    </div>
                           </div>
                       
                    </div>
                   </form> 
                   <div class="col-md-12">
                        <p><i>{{ad.date}} </i></p>  
                </div>
   
                </div>
    </div>
   <button type="button" [routerLink]="['/fanzone/ads/add']" [routerLinkActive]="['is-active']" class="btn btn-primary btn-lg btn-block cardBtn">+Ad</button>

</div> 